<div class="card  border-dark mb-3 mt-2 mx-1 mx-md-3 mt-md-3">
  <div class="card-header">
    <div class="d-md-flex justify-content-between">
      <h4 class="bd-highlight m-sm-1">Goal: {{goal.description}}</h4>
      <div class="float-right">
        <span>Records: </span>
        <span class="mr-3 badge badge-primary badge-pill">{{goal.records.length}}</span>
        <span class="mx-1"><app-add-record-modal [goal]="goal"></app-add-record-modal></span>
      </div>
    </div>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="container container-fluid justify-content-between">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
          <div class="col">
            <span>My initial Value: <strong>{{goal.initialValue}}</strong></span>
          </div>
          <div class="col">
            <p>My goal Value: <strong>{{goal.goalValue}}</strong></p>
          </div>
          <div class="col">
            <span>When I will reach goal: <strong>{{goal.goalDate | date }}</strong></span>
          </div>
        </div>
      </div>
    </li>

    <li class="list-group-item">
      <div class="card-body">
        <app-records [goal]="goal"></app-records>
      </div>
    </li>
    <li class="list-group-item">
      <div class="card-body">
        <app-goal-chart [goal]="goal"></app-goal-chart>
      </div>
    </li>
  </ul>
  <div class="card-footer text-muted">
    <button class="btn btn-danger float-right" (click)="deleteGoal(goal)"><i class="fa fa-trash"></i> Delete Goal</button>
  </div>
</div>

