<div class="card mx-md-2 mt-md-2">
  <div class="card-header">
    <div class="d-md-flex justify-content-between">
      <h4 class="bd-highlight m-2">Goal: {{goal.description}}</h4>
      <div>
        <span>Records: </span><span class="badge badge-primary badge-pill">{{goal.records.length}}</span>
        <span class="bd-highlight m-2">
          <button class="btn btn-danger" (click)="deleteGoal(goal)">Delete Goal</button>
        </span>
        <span class="bd-highlight m-2"><app-add-record-modal [goal]="goal"></app-add-record-modal></span>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <p class="card-text">My initial Value: <strong>{{goal.initialValue}}</strong></p>
        </div>
        <div class="col-sm">
          <p class="card-text">My goal Value: <strong>{{goal.goalValue}}</strong></p>
        </div>
        <div class="col-sm">
          <p class="card-text">When I will reach goal: <strong>{{goal.goalDate | date}}</strong></p>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <app-records [goal]="goal"></app-records>
  </div>
</div>

