<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

  <a class="navbar-brand" [routerLink]="['/']">Goal Tracker</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [class.active]="router.isActive('/goals' ,null)">
        <a class="nav-link" type="button" [ngClass]="{'disabled': !isAuthenticated}" (click)="goToGoals()">My Goals</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link" type="button">Contacts</a>
      </li>
    </ul>

    <div class="form-inline my-2 my-lg-0">
      <span *ngIf="user" class="navbar-text m-1 mr-sm-2 text-light">Hi {{user.given_name}}</span>
      <div class="d-inline">
        <button class="btn btn-outline-secondary  m-1 mr-sm-2" [disabled]="isAuthenticated" (click)="login()">
          Login
        </button>
        <button [disabled]="!isAuthenticated" (click)="oktaAuth.logout()" [routerLink]="['/']"
                class="btn btn-outline-secondary m-1">Logout
        </button>
      </div>

    </div>

  </div>
</nav>


