<div class="container-md">
  <div class="row">

    <div class="col-lg p-lg-3">
      <img class="img-fluid" src="../../assets/succes.jpg">
    </div>

    <div class="col-lg p-lg-3">
      <form>
        <h1>Create your goal</h1>

        <div class="form-group">
          <label for="description">Goal description</label>
          <input type="text"
                 class="form-control"
                 #description="ngModel"
                 [(ngModel)]="goal.description"
                 name="description"
                 id="description"
                 placeholder="Describe your goal"
                 required="true"
                 minlength="3">
          <small class="form-text text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus
            a</small>

          <div *ngIf="description.invalid && description.touched">
            <span *ngIf="description.errors.required" class="text-danger">Description is required.</span>
            <span *ngIf="description.errors.minlength" class="text-danger">Description must be at least 3 characters long.</span>
          </div>
        </div>

        <div class="form-group">
          <label for="initialValue">Initial value</label>
          <input type="number" step="0.1" class="form-control"
                 #initialValue="ngModel"
                 [(ngModel)]="goal.initialValue"
                 name="initialValue"
                 id="initialValue"
                 required="true"
                 placeholder="Where are you right now">
          <small class="form-text text-muted">Numeric value with precision 0.1</small>

          <div *ngIf="initialValue.invalid && initialValue.touched">
            <span *ngIf="initialValue.errors.required" class="text-danger">Initial value is required.</span>
          </div>
        </div>

        <div class="form-group">
          <label for="goalValue">Goal Value</label>
          <input type="number" step="0.1" class="form-control"
                 #goalValue="ngModel"
                 [(ngModel)]="goal.goalValue"
                 name="goalValue"
                 id="goalValue"
                 required="true"
                 placeholder="Where do you want to get">
          <small class="form-text text-muted">Numeric value with precision 0.1</small>

          <div *ngIf="goalValue.invalid && goalValue.touched">
            <span *ngIf="goalValue.errors.required" class="text-danger">Goal value is required.</span>
          </div>
        </div>

        <div class="form-group">
          <label for="goalDate">When you will reach your goal</label>
          <input type="date" class="form-control"
                 #goalDate="ngModel"
                 [(ngModel)]="goal.goalDate"
                 name="goalDate"
                 id="goalDate"
                 required="true">

          <div *ngIf="goalDate.invalid && goalDate.touched">
            <span *ngIf="goalDate.errors.required" class="text-danger">Goal date is required.</span>
          </div>
        </div>

        <button type="submit" class="btn btn-primary"
                [disabled]="description.invalid || goalValue.invalid || initialValue.invalid || goalDate.invalid">Submit
        </button>
      </form>
    </div>
  </div>
</div>
