<h4>Recorded Values: </h4>
<table class="table table-sm table-hover" *ngIf="goal.records.length > 0">
  <thead>
  <tr>
    <th scope="col">Record Date</th>
    <th scope="col">Record Value</th>
    <th scope="col" class="text-right">Delete Record</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let record of goal.records">
    <td>{{record.recordDate}}</td>
    <td>{{record.value}}</td>
    <td>
      <button type="button" (click)="deleteRecord(goal, record)" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </td>
  </tr>
  </tbody>
</table>
